<div id="top"></div>
<div class="row nav-row">
	<div class="six columns">
		<img class="logo" src="/img/logo.png">
		<h1><a href="/">HubSlacker</a></h1>
	</div>
	<div class="six columns">
		<ul class="u-pull-right nav">
			<li><a href="/documentation" class="nav-link">Documentation</a></li>
			<li><a href="/login" class="button">Login</a></li>
			<li><a href="/register" class="button">Register</a></li>
		</ul>
	</div>

</div>

