<div id="top"></div>
<div class="row nav-row">
	<div class="five columns">
		<img class="logo" src="/img/logo.png">
		<h1><a href="/">HubSlacker</a></h1>
	</div>
	<div class="seven columns">
		<ul class="u-pull-right nav">
			<li><a href="/documentation" class="nav-link">Documentation</a></li>
			<li><a href="/" class="nav-link">Settings</a></li>
			<li><a href="/account" class="nav-link">Accounts</a></li>
			<li><a href="/logout" class="button">Logout</a></li>
		</ul>
	</div>
</div>

