<%- include('../partials/header') -%>

<%- include('../partials/login_nav') -%>

<div class="row">
	<div class="form-wrapper">
		<h5>Goodbye</h5>
		<p id="goodbye"><a href="/login">༼ つ ಥ_ಥ ༽つ</a></p>
	</div>
</div>




<%- include('../partials/footer') -%>

