<%- include('../partials/header') -%>

<%- include('../partials/login_nav') -%>

<div class="row">
	<div class="form-wrapper">
	<form role="form" action="/register" method="post">
		<h4 class="form-title">Register</h4>
		<% if(error){ %>
		<span id="error"><%= error %></span>
		<% } %>
	  <input type='text' name="username" placeholder='Username'>
	  <input type='password' name="password" placeholder='Password'>
	  <input type='password' name="confirm_password" placeholder='Confirm Password'>
	  	<button class="form-btn" type="submit">Submit</button>
	</form>
	</div>
</div>
<%- include('../partials/footer') -%>

